@font-face {
    font-family: "Kanit";
    src: url("../font/Kanit/Kanit-Regular.ttf") format("truetype");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --couleur-fond: white;
    --couleur-text-head: #070043;
    --couleur-head-foot :#7e74af;
    --couleur-section: #e4e1ff;
    --couleur-cartes: rgb(179, 179, 247);
    --couleur-frise: blue;
    --couleur-h2: #1b0f4b;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body{
    padding-top: 30px;
    width: 100%;
    font-family: "Kanit";
    background: var(--couleur-section)
}

section {
    background: var(--couleur-fond);
    border-radius: 10px;
    padding: 60px;
    margin-bottom: 30px;
}

.titre {
    padding: 0px 20px 20px 20px;
}

header > nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    background: var(--couleur-head-foot);
    padding: 10px;
    font-size: 25px;
}

header a.nav {
    color: var(--couleur-text-head);
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
}

header a.nav:hover{
    transition: transform 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

main {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}


#presentation {
    padding-top: 20px;
}

#presentation > h1 {
    font-size: 50px;
}

#presentation > div.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

p.text-presentation {
    text-align: justify;
}

div.intro > figure.image-container {
    width: 50vh;
    height: 38vh;
    margin-top: 50px;
    text-align: center;
}

img.contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

img {
    border-radius: 20px;
}

h2 {
    font-size: 35px;
    color: var(--couleur-h2);
    text-align: center;
}

#cartes > div.ensemble-cartes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.carte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    text-align: center;
    background: var(--couleur-cartes);
    padding: 10px;
    margin: 10px;
    width: 150px;
}

.carte:hover{
    transition: transform 0.5s linear;
    transform: scale(1.2);
}

#frise {
    display: flex;
    flex-direction: column;
}

div.frise {
    border-left: 2px solid var(--couleur-frise);
    padding-left: 10px;
    padding-bottom: 10px;
}

p.citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {

    background: var(--couleur-head-foot);
    color: var(--couleur-text-head);
    padding: 10px;
}

div.bas-page{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}